.card {
  background-color: #383838;
  border-radius: 10px;
  border: solid 3px #000000;
  color: white;
  margin: 10px;
}
.jumbotron {
  background-color: grey;
  text-align: center;
  color: white;
  text-shadow: 3px 3px black;
}

input {
  width: 75%;
}

#submit {
  float: right;
  width: 200px;
  margin-right: 20px;
}

body {
  background-color: lightgrey;
}

.container {
  padding-bottom: 50px;
}

.col-md-5 {
  margin: 10px;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}

.personal {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}

.personal img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* .professional {
  text-align: right;
} */
