.card {
  background-color: #383838;
  border-radius: 10px;
  border: solid 3px #000000;
  color: white;
  margin: 10px;
  padding: 10px;
}
.jumbotron {
  background-color: teal;
  text-align: center;
  color: white;
  text-shadow: 3px 3px black;
}
h1 {
  font-size: 100px;
  color: lightblue;
  font-family: courier;
  font-weight: bold;
}

a {
  color: lightblue;
}
a:hover {
  color: teal;
}

input {
  width: 75%;
}

#submit {
  float: right;
  /* margin-left: 70%; */
  width: 200px;
  margin: 20px;
}

body {
  background-color: lightblue;
}

.container {
  padding-bottom: 50px;
}

.col-md-5 {
  margin: 10px;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  padding: 10px;
}

.personal {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}

.personal img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.doctor img {
  border: solid 3px black;
  border-radius: 10px;
}

label {
  padding: 5px;
}

.quantity {
  margin-left: 80%
}
